@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    min-width: 800px;
}

a, .btn-link {
    color: #0071c1;
}

:root {
    --primary-color: #9A8716;
    --secondary-color: #124419;
    --button-color: #494949;
    --button-hover-color: #7c7c7c;
    --background-color: white;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}