@page "/ConfirmOrder"
@using MudBlazor

<MudContainer>
    <MudStack>
        <MudPaper BackgroundColor="#124419">
            <MudGrid>
                <MudItem>
                    <MudIconButton Icon="Icons.Material.Filled.ArrowBack" Color="Color.Primary" Size="Size.Large" Class="back-to-shopping" />
                </MudItem>
                <MudItem>
                    <MudIconButton Icon="Icons.Material.Filled.Receipt" Color="Color.Primary" Size="Size.Large" Class="return-to-payment" />
                </MudItem>
            </MudGrid>

            <MudText Typo="Typo.h3" Class="center-text">Are you sure you want to purchase?</MudText>

            <MudList Dense="true" Class="select">
                <MudListItem>Option1</MudListItem>
                <MudListItem>Option2</MudListItem>
                <MudListItem>Option3</MudListItem>
            </MudList>
        </MudPaper>

        <div class="p1">
            <div class="p2">
                <p>Card: **** **** **** 4444<br />
                    Subtotal: $0.00<br />
                    Tax: $0.00<br />
                    Shipping: $0.00<br />
                    <br />
                    <strong>Total: $0.00</strong>
                </p>
            </div>
        </div>

        <MudButton Variant="Variant.Filled" Color="Color.Secondary" Class="complete-order-bottom">Complete Order</MudButton>
    </MudStack>
</MudContainer>

<style>
    .p1 {
        background-color: #9A8716;
        padding: 15px;
        text-align: center;
    }

    .p2 {
        text-align: left;
        font-size: 1.8em;
    }

    .center-text {
        text-align: center;
        margin: 0;
        font-size: 2.25em;
    }

    .back-to-shopping,
    .return-to-payment,
    .complete-order-bottom {
        background-color: #4d4d4d;
        color: #fff;
        padding: 15px;
        border: none;
        border-radius: 7.5px;
        cursor: pointer;
        font-size: 2.25em;
        margin-bottom: 30px;
    }

    .back-to-shopping {
        position: absolute;
        top: 15px;
        left: 15px;
    }

    .return-to-payment {
        position: absolute;
        top: 15px;
        transform: translateX(-50%);
        left: 50%;
    }

    .complete-order-bottom {
        position: absolute;
        bottom: 15px;
    }

    .select {
        width: 300px;
        margin: 15px auto;
        display: block;
        font-size: 1.5em;
    }
</style>
