@page "/SalesReport"

@using MudBlazor
@using MudBlazor.Services

<MudThemeProvider />
<MudDialogProvider />

<div style="background-color: #124419; margin: 0;">
    <div class="background-section"></div>

    <h3 class="text-center text-white">Sales Report</h3>

    <MudPaper Class="user-text" Style="top: 50px; left: 25%;">User</MudPaper>
    <MudPaper Class="item-text" Style="top: 50px; left: 46.9%;">Item</MudPaper>
    <MudButton Class="go-to-receipt-btn" Style="top: 50px; left: 68%;" Color="Color.Default" BackgroundColor="Color.From("#4d4d4d")">Go To Receipt</MudButton>

    <div class="text-center">
        <MudPaper Class="user-text" Style="top: 90px;">User</MudPaper>
        <MudPaper Class="item-text" Style="top: 90px;">Item</MudPaper>
        <MudButton Class="go-to-receipt-btn" Style="top: 90px;" Color="Color.Default" BackgroundColor="Color.From("#4d4d4d")">Go To Receipt</MudButton>
    </div>

    <div class="text-center">
        <MudPaper Class="user-text" Style="top: 130px;">User</MudPaper>
        <MudPaper Class="item-text" Style="top: 130px;">Item</MudPaper>
        <MudButton Class="go-to-receipt-btn" Style="top: 130px;" Color="Color.Default" BackgroundColor="Color.From("#4d4d4d")">Go To Receipt</MudButton>
    </div>

    <div class="text-center">
        <MudPaper Class="user-text" Style="top: 170px;">User</MudPaper>
        <MudPaper Class="item-text" Style="top: 170px;">Item</MudPaper>
        <MudButton Class="go-to-receipt-btn" Style="top: 170px;" Color="Color.Default" BackgroundColor="Color.From("#4d4d4d")">Go To Receipt</MudButton>
    </div>

    <div class="text-center">
        <MudPaper Class="user-text" Style="top: 210px;">User</MudPaper>
        <MudPaper Class="item-text" Style="top: 210px;">Item</MudPaper>
        <MudButton Class="go-to-receipt-btn" Style="top: 210px;" Color="Color.Default" BackgroundColor="Color.From("#4d4d4d")">Go To Receipt</MudButton>
    </div>
</div>
