@page "/SalesReport"

<div class="background-section"></div>

<h3 class="sales-report-header">Sales Report</h3>

<div class="user-text">User</div>
<div class="item-text">Item</div>
<button class="go-to-receipt-btn">Go To Receipt</button>

<style>
    body {
        background-color: #124419;
        margin: 0;
    }

    .background-section {
        position: fixed;
        top: 0;
        left: 25%;
        width: 50%;
        height: 100%;
        background-color: #9A8716;
        z-index: -1;
    }

    .sales-report-header {
        text-align: center;
        color: white;
        position: relative;
    }

    .user-text,
    .item-text {
        text-align: left;
        color: white;
        position: absolute;
        z-index: 1;
    }

    .user-text {
        top: 50px;
        left: 25%;
    }

    .item-text {
        top: 50px;
        left: 46.9%;
    }

    .go-to-receipt-btn {
        position: absolute;
        top: 45px;
        left: 63%;
        color: white;
        background-color: #4d4d4d;
        padding: 5px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        z-index: 1;
    }
</style>
