@page "/SignIn"
@using MudBlazor
@using MudBlazor.Services
@using MudBlazor.Dialog

<MudContainer>
    <div class="article">
        <div class="sign-in-text">Sign In</div>

        <label for="username" class="center-text">Username:</label>
        <input type="text" id="username" @bind="username" class="user-input" placeholder="Enter your username">

        <label for="password" class="center-text">Password:</label>
        <input type="password" id="password" @bind="password" class="user-input" placeholder="Enter your password">

        <button class="action-button sign-in-button" @onclick="redirectToSignIn">Sign In</button>

        <button class="action-button go-back-button" @onclick="goBack">Go Back</button>
    </div>
</MudContainer>
@code {
    public string? username;
    public string? password;

    [Inject]
    public IDialogService? MudDialogService { get; set; }

    public void redirectToSignIn()
    {
        var alertMessage = $"Redirecting to Sign In page with:\nUsername: {username}\nPassword: {password}";
        MudDialogService?.ShowMessageBox(alertMessage, "Redirecting");
    }

    private void goBack()
    {
        MudDialogService?.ShowMessageBox("Going back...", "Go Back");
    }
}
